.rarity {
  font-weight: bold;
  font-variant: small-caps;
  padding: 2px 10px;
  font-weight: bold;
  font-variant: small-caps;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ultra-rare {
  border: 1px solid rgb(221, 161, 215);

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  box-shadow: 3px 2px 5px rgb(75, 1, 67);
}

.super-rare {
  border: 1px solid rgb(236, 166, 135);
  background: rgb(251, 119, 63);
  background: radial-gradient(
    circle,
    rgba(251, 119, 63, 1) 0%,
    rgba(252, 229, 70, 1) 100%
  );
  box-shadow: 3px 2px 5px rgb(149, 45, 0);
}

.rare {
  border: 1px solid rgb(149, 227, 236);
  background: rgb(63, 231, 251);
  background: radial-gradient(
    circle,
    rgba(63, 231, 251, 1) 0%,
    rgba(82, 70, 252, 1) 100%
  );
  box-shadow: 3px 2px 5px rgb(11, 0, 157);
}

.common {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(189, 189, 189);
  background: radial-gradient(
    circle,
    rgba(189, 189, 189, 1) 24%,
    rgba(86, 86, 86, 1) 73%
  );
  box-shadow: 3px 2px 5px rgb(87, 87, 87);
}
