.deck-edit-form__deck-input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.deck-edit-form__deck-input-section input[type="text"] {
  width: 600px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  background: none;
  border: 1px solid gray;
  color: white;
}
