.page-number {
  all: unset;

  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;

  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;

  text-align: center;

  cursor: pointer;
}

.page-selected {
  background-color: rgb(169, 169, 169);
}

.page-number:hover {
  background-color: rgb(169, 169, 169);
}
