.selected-filter-pill {
  border: 1px solid gray;

  padding: 8px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: fit-content;
  font-variant: normal;

  background-color: rgb(117, 117, 117);
}

.selected-filter-pill__name {
  font-weight: bold;
  font-size: 14px;
}

.selected-filter-pill__value {
  font-weight: 300;
  font-size: 12px;
}
.selected-filter-pill__remove {
  all: unset;
  cursor: pointer;

  display: flex;
}
