.search-filters {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  font-variant: small-caps;

  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.search-filters-inputs {
  display: flex;
  padding: 5px;

  gap: 10px;
}

.search-filters-inputs__text {
  display: flex;

  width: 100%;
  gap: 10px;
}

.search-filters-inputs__buttons {
  display: flex;
  gap: 10px;
}

.wrap {
  flex-wrap: wrap;
}
